<html>
  <body>
    <form method="post" enctype="multipart/form-data">
      <p>Select Image:</p>

      <p><input type="file" id="file" name="file" accept="image/*" /></p>

      <p><input type="submit" value="submit" /></p>

      <p>
         {% if img_data %}
         <img
          src="data:image/jpeg;base64,{{ img_data }}"
          id="img-upload"
          alt=""
          class="img-upload"
          style="max-width: 60%; height: 100%"
        />
        {% else %}
        <p></p>
        {% endif %}
      </p>
    </form>
  </body>
</html>
